@import "./shared.constants.less";

#history-table {
    margin-top: @space;
    margin-bottom: @space;
    .history-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: @radius;
        padding: 0em 1.5em;
        gap: 0.5em;
        &:hover {
            background-color: @color-bg-end;
        }
        > p {
            span, button {
                border-radius: 0.5rem;
                padding: 0.3em 0.6em;
                font-weight: 500;
                font-size: 0.85em;
            }
            span {
                &.claimed {
                    color: rgb(214, 139, 0);
                }
                &.reclaimed {
                    color: rgb(197, 197, 197);
                }
            }
            button {
                margin: 0;
            }
            &:nth-child(1) { flex: 1 1 0;    white-space: nowrap; text-align: left; }
            &:nth-child(2) { flex: 0 1 auto; white-space: normal; text-align: center; }
            &:nth-child(3) { flex: 1 1 0;    white-space: nowrap; text-align: right;  }
        }
        @media (max-width: @mobile-width) {
            padding: 0;
            &:hover {
                background-color: transparent;
            }
            > p {
                font-size: 1em;
            }
        }
    }
}
