/* Imports */

@import '../node_modules/normalize.css/normalize.css';

/* Constants */

@mobile-width: 600px;
@text-color: #000;

/* Common elements */

* {
    font-family: system-ui;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

.btn {
    cursor: pointer;
    padding: 0.7rem 1.2rem;
    display: inline-block;
    color: white;
    background-color: rgb(0, 119, 255);
    border-radius: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    &:hover {
        background-color: #2e8fff;
    }
}

/* Layout */

body {
    background-color: #4498dc;
}

#layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7f7f7;
    padding: 0rem 3rem;
    @media (max-width: @mobile-width) {
        padding: 0rem 1.5rem;
    }
    min-height: 100vh;
}

#main {
    flex-grow: 1;
    padding-bottom: 3rem;
    font-size: 1.1rem;
    text-align: center;
    overflow-wrap: break-word;
    h1 {
        font-size: 2rem;
        text-align: center;
        margin: 0;
        padding-bottom: 3rem;
    }
    p {
        padding-bottom: 3rem;
    }
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding: 2.5rem 0 4rem;
    user-select: none;
    > div {
        display: flex;
        flex: 1;
        font-size: 1.1rem;
        &:nth-of-type(1) {
            justify-content: flex-start;
        }
        &:nth-of-type(2) {
            justify-content: center;
            // gap: 1rem;
            // font-size: 1.3rem;
            h1 {
                font-size: 1.3rem;
                text-align: center;
                margin: 0;
            }
        }
        &:nth-of-type(3) {
            justify-content: flex-end;
            gap: 0.6rem;
        }
        a {
            display: block;
            color: @text-color;
            &:hover {
                text-decoration: none;
            }
        //     &.selected {
        //         color: #999;
        //         &:hover {
        //             cursor: default;
        //             text-decoration: none;
        //         }
        //     }
        }
        img {
            display: block;
            height: 1.5rem;
        }
    }
}
