/* CSS reset */

@import '../node_modules/normalize.css/normalize.css';

* {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

/* Constants */

@mobile-width: 600px;

/* Common elements */

* {
    font-family: system-ui;
    color: rgb(226 232 240);
}

/* Layout */

body {
    background: linear-gradient(to bottom, rgb(15 23 42), rgb(36 49 79));
}

#layout {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    @media (max-width: @mobile-width) {
        flex-direction: column-reverse;
    }
}

header, nav, #page {
    padding: 1.7rem 2rem;
}

header {
    h1 {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        img {
            height: 2rem;
            padding-right: 0.5rem;
        }
    }
}

#page {
    flex-grow: 1;
}

nav {
    min-width: 250px;
    .nav-section {
        font-size: 1.1rem;
        a, span {
            color: #ccc;
            display: block;
            padding: 0.6rem 0;
            text-decoration: none;
            &:hover {
                cursor: pointer;
                color: white;
            }
            &.selected {
                color: rgb(56, 189, 248);
            }
        }
    }
    #network-selector {
        text-transform: capitalize;
    }
    @media (max-width: @mobile-width) {
        min-width: auto;
    }
    .logo {
        height: 2rem;
    }
}
